header.header
	nav.nav.header__nav
		.menu.header__menu
			include ../sections/menu

	.scroll.scroll-header_down
		.scroll-down__text Scroll down to see more
		a(href="#" id="icon-scroll_header").scroll-down__link
			i(class="fa fa-angle-double-down fa-2x" aria-hidden="true").scroll-down__icon