.menu
	ul.menu__list
	-
		items = [{name:'Home', link:'#'}, {name:'About me', link:'#'}, {name:'Portfolio', link:'#'}, {name:'Contact', link:'#'}]
	each item in items
		li.menu__item
			a(href=`${item.link}`).menu__link= item.name