// VARIABLES

//Colors
$white: #fff;
$white-grey: #f1f1f1;
$grey: #bebebe;
$black: #202020;

//IMPORTS

//helpers: mixins
@import "helpers/mixins";

//layout: setups, fonts
@import "layout/setups";
@import "layout/font-awesome";
@import "layout/fonts";

//blocks
@import "blocks/mainpage";
@import "blocks/header";
@import "blocks/menu";
@import "blocks/footer";