extends ../layout

block title
	| Main Page

block content
	include ../sections/header

	section.section.hero

		nav.nav.hero__nav
			.menu.hero__menu
				include ../sections/menu

		.hero__about

			.about__photo
				.about__photo-container
					img(src="assets/img/content/hero-photo.jpg").about__photo-img
			.about__description
				h2.description__title About me
				.description__text
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi ipsa obcaecati ipsam odit explicabo beatae necessitatibus, magni dolor. Rem nihil delectus accusantium quae molestiae id nulla atque.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum accusamus, libero quis quo, praesentium veritatis! Tempore!
				.description__name Jason Wood

		.scroll.scroll-content_down
			.scroll-down__text Keep scrolling, there is still more to come
			a(href="#" id="icon-scroll_content").scroll-down__link
				i(class="fa fa-angle-double-down fa-2x" aria-hidden="true").scroll-down__icon

block footer
	include ../sections/footer